/* ===========================
   GOOGLE FONT
=========================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* ===========================
   RESET
=========================== */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#f5f7fb;
    color:#333;
    line-height:1.6;
}

img{
    max-width:100%;
    display:block;
}

a{
    text-decoration:none;
}

ul{
    list-style:none;
}

section{
    padding:80px 8%;
}

/* ===========================
   HEADER
=========================== */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#6216c9;
    position:sticky;
    top:0;
    z-index:1000;
    box-shadow:0 2px 15px rgba(0,0,0,.08);
}

.logo h2{
    color:#ffffff;
    font-size:30px;
    font-weight:700;
}

nav ul{
    display:flex;
    gap:35px;
}

nav ul li a{
    color:#ffffff;
    font-weight:500;
    transition:.3s;
}

nav ul li a:hover,
nav ul li a.active{
    color:#ffda12;
}

.login-btn{
    background:#13ac08;
    color:#fff;
    padding:12px 26px;
    border-radius:8px;
    transition:.3s;
}

.login-btn:hover{
    background:#372fd1;
}

/* ===========================
   HERO SECTION
=========================== */

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;
    min-height:90vh;
}

.hero-left{
    flex:1;
}

.hero-left h1{
    font-size:55px;
    line-height:1.2;
    margin-bottom:20px;
    color:#222;
}

.hero-left p{
    font-size:18px;
    color:#666;
    margin-bottom:35px;
}

.hero-buttons{
    display:flex;
    gap:20px;
}

.btn-primary{
    background:#3a8240;
    color:#fff;
    padding:15px 35px;
    border-radius:8px;
    transition:.3s;
}

.btn-primary:hover{
    background:#372fd1;
}

.btn-secondary{
    border:2px solid #4F46E5;
    color:#4F46E5;
    padding:15px 35px;
    border-radius:8px;
    transition:.3s;
}

.btn-secondary:hover{
    background:#4F46E5;
    color:#fff;
}

.hero-right{
    flex:1;
}

.hero-right img{
    width:100%;
}

/* ===========================
   SECTION TITLE
=========================== */

.features h2,
.about h2,
.testimonial h2,
.newsletter h2{
    text-align:center;
    font-size:40px;
    margin-bottom:15px;
}

.features p,
.newsletter p{
    text-align:center;
    color:#666;
    margin-bottom:40px;
}
/* ===========================
   FEATURES
=========================== */

.features{
    background:#f8f9fc;
}

.feature-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;
    margin-top:50px;
}

.card{
    background:#ffffff;
    padding:30px 20px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card i{
    font-size:50px;
    color:#4F46E5;
    margin-bottom:20px;
}

.card h3{
    margin-bottom:15px;
    font-size:24px;
    color:#222;
}

.card p{
    color:#666;
    margin-bottom:0;
}
footer{
    margin-top:80px;
    background:#336b90;
    color:white;
    text-align:center;
    padding:30px 0;
}
footer a{
    color: #ffd2d2;
    word-spacing:0.5cap;
}
.copyright{
    margin-top: revert;
}
/* Responsive */

@media(max-width:992px){

.feature-container{
    grid-template-columns:repeat(2,1fr);
}

}

@media(max-width:768px){

.feature-container{
    grid-template-columns:1fr;
}

}
